<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.infra.mapper.ExampleMapper">

    <sql id="BaseSql">
        huc.bucket_name,
        huc.content_type,
        huc.storage_size,
        huc.storage_unit,
        huc.directory,
        huc.creation_date,
        huc.created_by,
        huc.last_updated_by,
        huc.last_update_date,
        huc.object_version_number
    </sql>

    <select id="selectList"
            parameterType="com.hand.demo.api.dto.FileConfigUploadDTO"
            resultType="com.hand.demo.api.dto.FileConfigUploadDTO"
    >
        select
        <include refid="BaseSql"/>
        from hfle_upload_config huc
        <where>
            <if test="bucketName !=null">
                and huc.bucket_name = #{countType, jdbcType = VARCHAR}
            </if>
            <if test="contentType !=null">
                and huc.content_type = #{contentType, jdbcType = VARCHAR}
            </if>
            <if test="storageUnit !=null">
                and huc.storage_unit = #{storageUnit, jdbcType = VARCHAR}
            </if>
            <if test="storageSize !=null">
                and huc.storage_size = #{storageSize, jdbcType = VARCHAR}
            </if>
            <if test="createdBy !=null">
                and huc.created_by = #{createdBy, jdbcType = VARCHAR}
            </if>
        </where>
    </select>
</mapper>
