<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.demo.infra.mapper.UserMapper">
    <!-- Result Map Definition -->
    <resultMap id="UserResultMap" type="com.hand.demo.domain.entity.User">
        <id column="id" property="id" />
        <result column="employee_name" property="employeeName" />
        <result column="employee_number" property="employeeNumber" />
        <result column="email" property="email" />
    </resultMap>

    <select id="selectByUserAccount" resultMap="UserResultMap">
        select ts.id, ts.employee_name, ts.employee_number, ts.email from todo_user as ts
        where ts.user_account = #{userAccount}
    </select>
</mapper>